<div class="row expanded align-center">
    <h1>Logon to your Account</h1>
</div>
<div class="row align-center">
    <form>
        <div class="small-12 columns">
            <label>Username
                <input type="text" placeholder="Enter Email Address" id="email"
                       [(ngModel)]="email" name="email" required #em="ngModel">
                <div [hidden]="em.valid || em.pristine" class="alert callout">
                    Email is required
                </div>
            </label>
        </div>
        <div class="small-12 columns">
            <label>Password
                <input type="password" placeholder="Enter Password" id="password1"
                       [(ngModel)]="password1" name="password1" required #pwd1="ngModel">
                <div [hidden]="pwd1.valid || pwd1.pristine" class="alert callout">
                    Password required
                </div>
            </label>
        </div>
        <div class="small-12 columns">
            <div class="expanded button-group">
                <a class="success button" (click)="login()">Login</a>
                <a class="button" (click)="signup()">Sign Up</a>
            </div>
        </div>
        <div class="small-12 columns">
            <p (click)="cancel()" class="text-center simlink">Back to the Main Site</p>
        </div>



    </form>
</div>


