<div class="top-bar">
    <div class="top-bar-title">GGC Admin area</div>

    <div class="top-bar-left">
        <ul class="menu">
            <li class="admin-menu"><a [routerLink]="['/admin/blog-admin']">Manage Blog</a></li>
        </ul>
    </div>
    <div *ngIf = "theUser" class="top-bar-right">
        <ul class="menu">
            <li class="admin-menu"><a (click)="logout()">Logout</a></li>
            <li class="admin-menu"><a>{{theUser}} Logged in</a></li>
        </ul>
    </div>

</div>

<div class="row">
    <img src="../adminShared/images/code.jpg">
</div>

<div class="row align-center">
    <h2>Welcome to the Admin Area for the Gigabyte gaming Company.</h2>
    <h3>This area is for authorized users only!</h3>
</div>