<div class="row expanded align-center">
    <h1>Register an Account</h1>
</div>

<div class="row align-center">
    <form>
        <div class="small-12  columns">
            <label>Username
                <input type="text" placeholder="Enter Email Address" id="email"
                       [(ngModel)]="email" name="email" required #em="ngModel">
                <div [hidden]="em.valid || em.pristine" class="alert callout">
                    Email is required
                </div>
            </label>
        </div>

        <div class="small-12 columns">
            <label>Password
                <input type="password" placeholder="Enter Password" id="password1"
                       [(ngModel)]="password1" name="password1" required #pwd1="ngModel">
                <div [hidden]="pwd1.valid || pwd1.pristine" class="alert callout">
                    Password required
                </div>
            </label>
        </div>

        <div class="small-12  columns">
            <label>Confirm
                <input type="password" placeholder="Confirm Password" id="password2"
                       [(ngModel)]="password2" name="password2" required #pwd2="ngModel">
                <div [hidden]="pwd2.valid || pwd2.pristine" class="alert callout">
                    Confirm Password
                </div>
            </label>
        </div>

        <div *ngIf="passwordFail" class="alert callout">
            Passwords Do Not Match
        </div>
        <div class="small-12 columns">
            <div class="expanded button-group">
                <a class="success button" (click)="signUp()">Sign Up</a>
                <a class="cancel button" (click)="cancel()">Cancel</a>
            </div>
        </div>
    </form>
</div>
